In [1]:
import pandas as pd

In [2]:
actor=pd.read_csv('../data/actor.csv')
category=pd.read_csv('../data/category.csv')
film=pd.read_csv('../data/film.csv')
inventory=pd.read_csv('../data/inventory.csv')
language=pd.read_csv('../data/language.csv')
old_HDD=pd.read_csv('../data/old_HDD.csv')
rental=pd.read_csv('../data/rental.csv')

In [3]:
nan_cols = actor.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

Series([], dtype: float64)

In [4]:
nan_cols = category.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

Series([], dtype: float64)

In [5]:
nan_cols = film.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

original_language_id    100.0
dtype: float64

In [6]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [7]:
#eliminamos la columna de 'original_language_id' ya que estÃ¡ llena de nulos
film = film.drop(['original_language_id'], axis=1)

In [8]:
nan_cols = inventory.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

Series([], dtype: float64)

In [9]:
nan_cols = language.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

Series([], dtype: float64)

In [10]:
nan_cols = old_HDD.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

Series([], dtype: float64)

In [12]:
nan_cols = rental.isna().mean() * 100  # porcentaje de nulo en cada columna
nan_cols[nan_cols>0]

Series([], dtype: float64)

In [13]:
# old_HDD = pd.DataFrame(old_HDD)

In [11]:
# old_HDD